<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<a href="/students">All Students</a>
<p></p>
<a href="/students/new">Enrol a new student</a>
<%= yield %>

  </body>
</html>
